extends ../tmp/layout
block style
	style.
		.container{
			width:1000px;
			margin:0 auto;
			overflow:hidden;
			padding:50px 10px;
			min-height:400px;
		}
		.container h1{
			text-align:center;
			font-size:30px;
			font-family:KaiTi;
			line-height:50px;
		}
		.content{
			overflow:hidden;
			padding:20px 0;
		}
		.main{
			width: 700px;
			overflow:hidden;
			float:left;
			min-height:400px;
		}
		.slid-nav{
			width:240px;
			height:200px;
			float:right;
			
		}


block content
	div.container
		div.main.col-md-9
			h1 #{data[0].title}
			div.content !{data[0].content}
		div.slid-nav.col-md-3
	div.page

